#admin {

	.archive {
		margin-left: 50px;
	}
	.archived {
		@include opacity(0);
		@include transform(translate3D(0, -20px, 0));
		@include transition(all .5s);
		position: absolute;
		visibility: hidden;
	}
	.editable {

		input {
			height: 27px;
			margin-top: -5px;
		}

	}
	.select-all {
		display: none;
	}
	.show-archived {

		.archive {
			display: none;
		}
		.archived {
			@include opacity(1);
			@include transform(translate3D(0, 0, 0));
			position: static;
			visibility: visible;
		}

	}

	[data-column="price"] input {
		text-align: right;
	}

	input {
		text-align: left;
	}

}

#approved-reservations,
#repeated-reservations {

	li i.approve {
		display: none;
	}

}
#add-item {
	background: $white;
	box-shadow: 0 0 30px rgba($black, .5);
	display: none;
	padding: $padding--big;
	position: absolute;
	text-align: center;
	width: 300px;

	&.progress {
		progress {
			opacity: 1;
		}
	}

	.close {
		@include absolute(10px, $right: 10px);
		@include transition(color .3s);
		font-size: $font-size-great;
		color: rgba($black, .5);
		cursor: pointer;

		&:hover {
			color: $black;
		}
	}

	input,
	progress {
		display: block;
		margin: $margin--default auto;
		width: 100%;
	}
	h3 {
		@include absolute(0, 10px);
	}
	progress {
		@include transition(opacity .5s);
		opacity: 0;
	}
}
#items {

	li ul {
		display: block;
	}

}