#items-wrapper {
	&.loading {
		opacity: .5;
	}
}
#reserve {

	#purpose,
	#repeat {
		padding-left: 45px;
	}

	fieldset.date {

		input {
			font-size: $font-size-great;
		}

	}

}
#reserved-items-wrapper {
	@include opacity(1);
	@include transform(translate3D(0, 0, 0));
	@include transition(all .5s);
	background-color: $cyan;
	color: $white;
	max-height: 100%;
	overflow: auto;
	padding: 20px 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;

	&.empty {
		@include transform(translate3D(500px, 0, 0));
		@include opacity(0);
	}

	.finish,
	.price {
		//position: absolute;
		position: relative;
		//width: 100%;
	}
	.finish {
		//bottom: 0;
		padding: 5px 0;

		span {
			border-radius: 0;
			min-width: 50px;
			padding: 0;
			width: 50%;
		}
	}
	.price {
		border-top: 1px solid $base-color;
		border-bottom: 1px solid $base-color;
		//bottom: 20px;
		font-weight: bold;
		margin: 10px 0;
		padding: 15px 0 15px 50px;
		text-align: right;

		&:after {
			@include absolute(12px, 10px);
			@include font-icon(cart);
			font-size: 20px;
		}
		&:before {
			@include absolute(15px, 100%);
			content: ",-";
		}
	}

	li {
		padding: 5px 30px 5px 5px;
		position: relative;

		&.item {
			@include transition(opacity .3s);
			cursor: pointer;

			&:hover:after {
				color: $fire-engine-red;
			}
			&:after {
				@include absolute-middle(8px);
				@include font-icon(cross);
				@include transition(color .3s);
				font-size: 8px;
				right: 0;
			}
			&.loading {
				opacity: .5;
				&:after {
					@extend %spinner;
				}
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}


	@media #{$mobile} {

		max-height: 50%;

	}
}