
$buttons--bg:	 			$cyan;
$buttons--bg-hover: 		darken($cyan, 10%);
$buttons--border-radius:	5px;
$buttons--color: 			$white;
$buttons--color-hover: 		$white;
$buttons--font-size:		15px;
$buttons--font-weight:		normal;
$buttons--height:			35px;
$buttons--padding:			0 25px;