
$buttons--bg:	 			$cyan;
$buttons--bg-hover: 		$cyan;
$buttons--border-radius:	5px;
$buttons--color: 			$white;
$buttons--color-hover: 		$white;
$buttons--font-size:		11px;
$buttons--font-weight:		normal;
$buttons--height:			22px;
$buttons--padding:			0 10px;