
// names used from: http://name-of-color.com/
$alto:				#dadada;
$black: 			#000;
$cape-cod:			#404040;
$celeste:			#cfcfcf;
$christi:			#67a712;
$cyan:				#00aeef;
$dark-goldenrod:	#b8860b;
$drab:				#967117;
$eminence:			#6c3082;
$fire-engine-red:	#cc2229;
$gallery:			#f0f0f0;
$gray:				#808080;
$marigold:			#b98d28;
$mercury:			#e4e4e4;
$nobel:				#b3b3b3;
$patriarch:			#800080;
$shady-lady:		#a6a6a6;
$stack:				#8d8c8c;
$white: 			#fff;


$zkusebna-color: $dark-goldenrod;
$technika-color: $christi;
$nastroje-color: $eminence;

$base-color: 	$cape-cod;
$bg-color:		$white;