
$forms--b:		2px solid $cyan;	//border
$forms--bg:		$white;				//background
$forms--br:		5px;				//border-radius
$forms--c:		$base-color;		//color
$forms--fs:		$font-size;			//font-size
$forms--ff:		$font-family;		//font-family
$forms--h:		40px;				//height
$forms--p:		5px 10px;			//padding
$forms--ta:		center;				//text-align