
$headings--family: 	$font-family;
$headings--color: 	$cape-cod;
$headings--margin:	0 0 $margin--default;
$headings--weight:	normal;
$heading1--size: 	33px;
$heading2--size: 	20px;
$heading3--size: 	11px;
$heading4--size: 	10px;
$heading5--size: 	9px;
$heading6--size: 	9px;