.fc-event-container {
	cursor: pointer;
}
.fc-event {
	$event-height: 20px;

	border: none;
	color: darken($white, 6%);

	&.cats-1 i {
		width: 100%;
	}
	&.cats-2 i {
		width: 50%;
	}
	&.cats-3 i {
		width: 33.3333%;
	}

	.fc-content {
		line-height: $event-height;
	}

	em {
		@include absolute(0, 0, 0, 0);
		@include square(100%);
		display: block;
		font-size: 0;
		line-height: 0;
	}
	i {
		display: inline-block;
		height: 100%;
		position: relative;

		&:nth-child(2):before,
		&:nth-child(3):before {
			$border-width: 7px;

			@include absolute(0, -$border-width);
			@include square(0);
			border-color: transparent;
			border-style: solid;
			border-width: 0 $border-width $event-height 0;
			content: "";
		}
		&.nastroje {
			background-color: $nastroje-color;
			&:nth-child(2):before,
			&:nth-child(3):before {
				border-right-color: $nastroje-color;
			}
		}
		&.technika {
			background-color: $technika-color;
			&:nth-child(2):before,
			&:nth-child(3):before {
				border-right-color: $technika-color;
			}
		}
		&.zkusebna {
			background-color: $zkusebna-color;
			&:nth-child(2):before,
			&:nth-child(3):before {
				border-right-color: $zkusebna-color;
			}
		}
	}
	span {
		position: relative;
		padding-left: 5px;
	}

}
.fc-view-container {
	@include transition(opacity .3s);

	.loading & {
		opacity: 0.5;

		&:before {
			$font-size: 50px;

			@extend %spinner;
			@include absolute-center($font-size);
			@include absolute-middle($font-size);
			font-size: $font-size;
			z-index: 9;
		}
	}

}