.fc-event-container {
	cursor: pointer;
}
.fc-event {

	&.nastroje {
		background-color: $nastroje-color;
		border-color: $nastroje-color;
	}
	&.technika {
		background-color: $technika-color;
		border-color: $technika-color;
	}
	&.zkusebna {
		background-color: $zkusebna-color;
		border-color: $zkusebna-color;
	}

}
.fc-view-container {
	@include transition(opacity .3s);

	.loading & {
		opacity: 0.5;

		&:before {
			$font-size: 50px;

			@include absolute-center($font-size);
			@include absolute-middle($font-size);
			@include animation(spin 1s infinite linear);
			@include font-icon(spinner);
			font-size: $font-size;
		}
	}

}