.mCSB_scrollTools {
	.mCSB_dragger .mCSB_dragger_bar,
	.mCSB_draggerRail {
		width: 6px;
	}
}
.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.mCustomScrollbar .mCustomScrollBox {
	padding: 0 20px;
}