.reservation-list {

	&.percentage {
		em:after {
			content: '%';
		}
	}

	.payed {
		cursor: pointer !important;

		&.red {
			color: $fire-engine-red;

			&:hover {
				color: $christi;
			}
		}
		&.green {
			color: $christi;

			&:hover {
				color: $fire-engine-red;
			}
		}
	}
	.tooltip {
		cursor: help;

		&:hover {
			color: $cyan;
		}
	}

	i,
	small,
	span,
	strong {
		@include transition(color .3s);
		display: inline-block;
		vertical-align: middle;
	}

	i,
	span {
		font-size: 18px;
		margin: 0 5px;
	}
	b {
		font-style: italic;
		font-weight: normal;
	}
	em {
		@include absolute(12px, $right: 10px);
		color: $marigold;
		display: inline-block;
		font-size: 1.1em;
		font-style: normal;
		font-weight: bold;
		vertical-align: middle;

		&:after {
			content: ',-';
		}
	}
	i {
		cursor: pointer;

		&:hover {
			color: $christi;
		}
		&.delete:hover,
		&.deletable:hover,
		&.delete-item:hover {
			color: $fire-engine-red;
		}
		&.loading {
			opacity: .5;

			&:before {
				@extend %spinner;
			}
		}
	}
	li {
		@include transition(all .3s);
		margin-bottom: 5px;
		padding: 10px;
		position: relative;

		&:hover {
			background-color: $gallery;
		}
		&.expanded {

			ul {
				display: block;
			}

		}

		li {
			padding: 0;

			em {
				font-size: .9em;
				right: 0;
			}
		}
		ul {
			margin-top: 1.5em;
		}

	}
	small {
		margin: 0 5px;
	}
	span {

	}
	strong {
		color: $cyan;
		cursor: pointer;
		font-size: 18px;
	}
	ul {
		display: none;
	}



	@media #{$mobile} {
		strong {
			display: block;
		}
	}

}