.icon-edit:before {
	content: "\e900";
}
.icon-coin:before {
	content: "\1f4b3";
}
.icon-close:before {
	content: "\2715";
}
.icon-mail:before {
	content: "\1f582";
}
.icon-mobile:before {
	content: "\1f57f";
}
.icon-checkmark:before {
	content: "\2714";
}
.icon-cart:before {
	content: "\1f52b";
}
.icon-chevron-down:before {
	content: "\1f53d";
}
.icon-chevron-up:before {
	content: "\2bc5";
}
.icon-chevron-right:before {
	content: "\276f";
}
.icon-chevron-left:before {
	content: "\276e";
}
.icon-spinner:before {
	content: "\273d";
}
.icon-plus:before {
	content: "\2795";
}
.icon-cross:before {
	content: "\2716";
}
