.icon-coin:before {
	content: "\e90c";
}
.icon-close:before {
	content: "\e90b";
}
.icon-mail:before {
	content: "\e908";
}
.icon-mobile:before {
	content: "\e909";
}
.icon-checkmark:before {
	content: "\e90a";
}
.icon-cart:before {
	content: "\e907";
}
.icon-chevron-down:before {
	content: "\e904";
}
.icon-chevron-up:before {
	content: "\e905";
}
.icon-chevron-right:before {
	content: "\e906";
}
.icon-chevron-left:before {
	content: "\e900";
}
.icon-spinner:before {
	content: "\e901";
}
.icon-plus:before {
	content: "\e902";
}
.icon-cross:before {
	content: "\e903";
}
