input[type=checkbox] {

	$dot-size: 16px;

	position: absolute;
	visibility: hidden;

	& + label {

		cursor: pointer;
		padding-left: 20px;
		position: relative;

		&:after,
		&:before {
			@include square($dot-size);
			left: 0;
			position: absolute;
			top: 1px;
		}

		&:after {
			@include font-icon(cross);
			@include transform(scale(0));
			@include transition();
			color: $base-color;
			font-size: $font-size-tiny;
			line-height: $dot-size;
			opacity: 0;
			text-align: center;
		}
		&:before {
			background-color: $mercury;
			border-radius: 50%;
			content: "";
		}

	}
	&:checked + label {

		&:after {
			@include transform(scale(1));
			opacity: 1;
		}

	}
	&.delete:checked + label {

		color: $fire-engine-red;

		&:after {
			color: $white;
		}
		&:before {
			background-color: $fire-engine-red;
		}

	}

}