[data-column="price"] input {
	max-width: 60px;
	min-width: 0;
}
.error {
	color: $fire-engine-red;
	font-weight: bold;
}

button,
input,
select,
textarea {
	@include placeholder($shady-lady);
	background: $forms--bg;
	border: $forms--b;
	border-radius: $forms--br;
	color: $forms--c;
	font-family: $forms--ff;
	font-size: $forms--fs;
	height: $forms--h;
	outline: none;
	padding: $forms--p;
	text-align: $forms--ta;

	&.error {
		border-color: $fire-engine-red;
	}
}
input,
select {
	min-width: 190px;
}
button {
	cursor: pointer;
}
fieldset {
	border: none;
	margin: $margin--big auto;
}
form {}
select {
	&.born {
		color: $shady-lady;

		option {
			color: $font-color;
		}
	}
}
textarea {

	height: auto;
	min-height: 50px;

}